<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498365283949-nih0un0pk73ih9dkfqob1i08pscc61v5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498365283949-nih0un0pk73ih9dkfqob1i08pscc61v5</string>
	<key>API_KEY</key>
	<string>AIzaSyDGFUVkAT_jORNhCBj3W7fbLq4ISoXNv_k</string>
	<key>GCM_SENDER_ID</key>
	<string>498365283949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-e0966</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-e0966.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498365283949:ios:a4a69d0a8030bc0b728964</string>
</dict>
</plist>